.text-wrapper .left h3,
.text-wrapper .right h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
}

.text-wrapper .left {
  margin-right: 2rem;
  flex: 1;
}

.text-wrapper .right {
  flex: 1;
}

.text-wrapper p {
  color: #9C9C9C;
  font-size: 1.8rem;
  text-align: justify;
  margin-bottom: 4rem;
}

.text-wrapper .left div .date{
  color: #9C9C9C;
  font-size: 1.8rem;
  margin-right: 5rem;
}

.text-wrapper .left div .text{
  color: #9C9C9C;
  font-size: 1.8rem;
}


/* MOBILE VIEW */
@media screen and (max-width: 76.8rem) {
  .text-wrapper {
    flex-direction: column;
  }

  .text-wrapper .left {
    margin-bottom: 5rem;
  }

  .text-wrapper .left h3,
  .text-wrapper .right h3 {
    text-align: center;
  }
}

