section {
  margin-bottom: 50px 0;
}

.text-wrapper .left h3,
.text-wrapper .right h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
}

.text-wrapper .left {
  margin-right: 20px;
  flex: 1;
}

.text-wrapper .right {
  flex: 1;
}

.text-wrapper p {
  color: #9C9C9C;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 40px;
}

.text-wrapper .left div .date{
  color: #9C9C9C;
  font-size: 18px;
  margin-right: 50px;
}

.text-wrapper .left div .text{
  color: #9C9C9C;
  font-size: 18px;
}


/* MOBILE VIEW */
@media screen and (max-width: 768px) {
  .text-wrapper {
    flex-direction: column;
  }

  .text-wrapper .left {
    margin-bottom: 50px;
  }

  .text-wrapper .left h3,
  .text-wrapper .right h3 {
    text-align: center;
  }
}

