.intro h2 {
  font-size: 5.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.intro div {
  max-width: 50%;
  text-align: center;
  margin-bottom: 5rem;
}

.intro .intro-text {
  font-size: 1.8rem;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro-banner img {
  max-width: 100%;
}


/* MOBILE VIEW */
@media (max-width: 70rem) {
  .intro div {
    max-width: 100%;
  }

  .intro h2{
    font-size: 3rem;
    font-weight: 700;
  }

}