<section>
  <div class="container">
    <div class="wrapper">
      <div class="left">
        <h5>Dananz</h5>
        <p>One of the best furniture <br> agency.</p>
      </div>
      <div class="right">
        <div>
          <span class="dot"></span>
          <span class="text">Enter your email to get the latest news</span>
        </div>
        <form >
          <input type="email" name="email" id="email" placeholder="Enter Email">
        </form>
        <div class="social">
          <p>Follow us On</p>
          <img src="../../../assets/images/socials/facebook.jpg" alt="Facebook">
          <img src="../../../assets/images/socials/instagram.jpg" alt="Instagram">
          <img src="../../../assets/images/socials/tictok.jpg" alt="TickTok">
          <img src="../../../assets/images/socials/youtube.jpg" alt="YouTube">
        </div>
      </div>
    </div>
  </div>
</section>