.wrapper .top-img,
.wrapper .bottom-img {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.wrapper .top-img div img,
.wrapper .middle-img div img,
.wrapper .bottom-img div img {
  width: 100%;
  height: 100%;
}

.wrapper .middle-img {
  margin-bottom: 15px;
}


/* MOBILE VIEW*/
@media screen and (max-width: 768px) {
  .wrapper .top-img,
  .wrapper .bottom-img {
    flex-direction: column;
    margin-bottom: 10px;
  }
}